#contactsDiv {
  display: flex;
  justify-content: space-between;
}

#contactsDiv1 {
  width: 40%;
}

#socialC {
  margin-top: -120px;
}

.socialArrow2 {
  display: flex;
  flex-direction: column;
  margin-left: 220px;
  margin-bottom: -30px;
}

#note5 {
  margin-bottom: -30px;
  margin-left: 80px;
}

#arrow3 {
  width: 100px;
}

.socialMedia {
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  gap: 32px;
}

.mandatory {
  margin-left: 8px;
  /* fill: red; */
}

form > * {
  margin-bottom: -4px;
}

form {
  width: 40%;
}

input {
  width: 100%;
  background: rgba(255, 238, 249, 0.6);
  /* opacity: 60%; */
  border: var(--color-border) 4px solid;
  border-radius: 16px;
  height: 16px;
  padding: 8px;
  font-size: 16px;
  color: var(--grey);
  font-family: Quicksand, sans-serif;
  font-weight: 400;
}

textarea {
  width: 100%;
  background: rgba(255, 238, 249, 0.6);
  border: var(--color-border) 4px solid;
  border-radius: 16px;
  padding: 8px;
  resize: none;
  font-size: 16px;
  color: var(--grey);
  font-family: Quicksand, sans-serif;
  font-weight: 400;
}

.btn {
  display: block;
  margin: 0 auto;
  background: var(--gradient-btn);
  padding: 16px 32px;
  border: var(--color-border) 4px solid;
  border-radius: 16px;
  font-size: 20px;
  font-weight: 700;
  font-family: Quicksand, sans-serif;
  color: var(--grey);
  margin-top: 32px;
}

.btn:hover {
  background:
    linear-gradient(white, white) padding-box,
    var(--gradient-btn) border-box;
  border: 4px solid transparent;
}

@media (max-width: 1000px) {
  #contactsDiv {
    flex-direction: column;
  }
  #contactsDiv1,
  form {
    width: 100%;
  }

  .lineCont {
    width: 100%;
    text-align: center;
  }

  .socialMedia {
    gap: 16px;
  }

  .socialArrow2 {
    margin-left: 190px;
  }
  #arrow3 {
    width: 80px;
  }

  #socialC {
    margin-top: -70px;
  }

  #note5 {
    margin-left: 60px;
  }

  .btn {
    font-size: 16px;
    padding: 16px 24px;
  }
}
