#pfp {
    width: 336px;
    height: 336px;
    border-radius: 100%;
    border: var(--color-border) 4px solid;
    position: relative;
    z-index: -1; /* Ensures the image stays above the circles */
}

#centerInfo{
    margin-top: 80px;
    margin-left: 32px
}

#titleName {
    margin-bottom: -88px;
}

#myInfo {
    margin-left: 64px;
}

#myInfo>div{
    margin-bottom: -40px;
}

.jobs{
    margin-bottom: -32px;
    margin-left: 80px;
}

.jobs > * {
    margin-right: 16px;
}

.circle {
    width: 336px;
    height: 336px;
    border-radius: 100%;
    border: var(--color-border) 4px solid;
    position: absolute;
    top: calc(168px + 80px);
    
    /* left: 50%; */
    /* transform: translate(-20%, -20%); */
    animation: orbit 16s linear infinite;
    /* Adjust the size if necessary */
}

.circle:nth-child(2) {
    animation-delay: -2s; /* Staggered start */
    z-index: -2;
    animation: orbit 10s linear infinite;
}
  
.circle:nth-child(3) {
    animation-delay: -6s; /* Staggered start */
    animation: orbit 12s linear infinite;
}

@keyframes orbit {
    0% {
        transform: rotate(0deg) translateX(32px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translateX(32px) rotate(-360deg);
    }
}


